@model TVBroadcastScheduler.Models.Broadcast

<h2>Add New Broadcast</h2>
<link rel="stylesheet" href="~/css/Add.css" />

<form asp-action="Add" asp-controller="Broadcast" method="post">
    <label>Title</label>
    <input asp-for="Title" class="form-control" required />

    <label>Description</label>
    <textarea asp-for="Description" class="form-control"></textarea>

    <label>Start Time</label>
    <input asp-for="StartTime" type="datetime-local" class="form-control" required />

    <label>End Time</label>
    <input asp-for="EndTime" type="datetime-local" class="form-control" required />

    <button type="submit">Submit for Approval</button>
</form>
