@{
    ViewData["Title"] = "Broadcast Schedule";
}

<h2>@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/Index.css" />


<div id="schedule-table-container">
    <!-- Schedule table rendered by JavaScript/jQuery -->
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/scheduler.js"></script>
